<form>
  <table>
    <tr>
      <td><label> username </label></td>
      <td><label> password </label></td>
    </tr>

    <tr>
      <td style="padding-right: 20px"><input [(ngModel)]="user.username" class="form-control" name="username" type="text"></td>
      <td style="padding-right: 20px"><input [(ngModel)]="user.password" class="form-control" name="username" type="password"></td>
      <td>
        <button (click)="accedi()" class="btn btn-primary" type="submit">Accedi</button>
      </td>
    </tr>

  </table>
</form>
