<h1>{{ prodotto?.nome }}</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <img alt="" src="{{prodotto?.img}}" style="width: 500px;">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-2">
          <b>Categoria</b>:
        </div>
        <div class="col-10">
          {{prodotto?.categoria.nome}}
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <b>Descrizione</b>:
        </div>
        <div class="col-10 product-text">{{prodotto?.descrizione}}  </div>
      </div>
    </div>
  </div>
</div>

<h3 style="text-align: center;">RECENSIONI</h3>

<div *ngFor="let recensione of recensioni; let i = index">
  <div class="card text-center">
    <div class="card-header">
      Recensione n°{{i + 1}}
    </div>
    <div class="card-body">
      <h5 class="card-title">L'utente <b>{{recensione?.utente.username}}</b> ha lasciato la seguente recensione</h5>
      <h4 class="card-text product-text">{{recensione?.relazione}}</h4>
    </div>
  </div>
</div>
