<nav class="navbar navbar-expand-lg navbar-dark ">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="list-inline-item">
        <button class="btn btn-danger" routerLink="/prodotti" *ngIf="visualizzaBack()">Indietro</button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-blue" routerLink="/prodotti">Lista di prodotti</button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-blue" routerLink="/carrello">Carrello</button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-blue" routerLink="/acquisti">I Tuoi Acquisti</button>
      </li>

      <li class="list-inline-item">
        <button class="btn btn-blue" routerLink="/recensioni">Lascia Recensione</button>
      </li>

    </ul>
    <button class="btn btn-blue" *ngIf='accesso()' (click)=logout()>LogOut</button>
  </div>
</nav>


