<p>user-form works!</p>
<div class="card my-5">
  <div class="card-body">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="id">ID</label>
        <input #id="ngModel" [(ngModel)]="user.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter your id"
               required type="text">
      </div>
      <div [hidden]="!id.pristine" class="alert alert-danger">ID is required</div>

      <div class="form-group">
        <label for="nome">nome</label>
        <input #nome="ngModel" [(ngModel)]="user.nome"
               class="form-control"
               id="nome"
               name="nome"
               placeholder="Enter your nome"
               required type="text">
      </div>

      <div class="form-group">
        <label for="cognome">Cognome</label>
        <input #cognome="ngModel" [(ngModel)]="user.cognome"
               class="form-control"
               id="cognome"
               name="cognome"
               placeholder="Enter your cognome"
               required type="text">
      </div>

      <div class="form-group">
        <label for="address">e-mail</label>
        <input #address="ngModel" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your address"
               required type="text">
      </div>

      <div class="form-group">
        <label for="code">Username</label>
        <input #username="ngModel" [(ngModel)]="user.username"
               class="form-control"
               id="username"
               name="username"
               placeholder="Enter your username"
               required type="text">
      </div>

      <div class="form-group">
        <label for="email">Password</label>
        <input #password="ngModel" [(ngModel)]="user.password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter your password"
               required type="text">
      </div>

      <button [disabled]="!userForm.form.valid" class="btn btn-info"
              type="submit">Submit
      </button>
    </form>
  </div>
</div>
