<h2>CARRELLO</h2>

<div>
  <form #useForm="ngForm" (ngSubmit)="acquista()">
    <button class="btn btn-primary" name="acquista">acquista</button>
  </form>
</div>

<br>

<div *ngFor="let prodottoInCarrello of carrello">

  <div class="card mb-3">
    <table>
      <tr>

        <td style="width: 300px;">
          <img alt="Card image cap" class="card-img-top" src="{{prodottoInCarrello.prodotto.img}}"
               style="max-width: 300px; height: auto; ">
        </td>

        <td>
          <div class="card-body">
            <h6 class="card-title">Ordine numero {{ prodottoInCarrello.id }}</h6>
            <h5 class="card-title">{{ prodottoInCarrello.prodotto.nome }}</h5>
            <p class="card-text">{{prodottoInCarrello.prodotto.descrizione}}</p>
            <p class="card-text">Prezzo all'acquisto <b>{{prodottoInCarrello.prezzo}}€</b></p>
            <p class="card-text">Quantità ordinata <b>{{prodottoInCarrello.qta}}</b> per un totale di
              <b>{{prodottoInCarrello.prodotto.prezzo}}€</b></p>
            <button (click)="elimina(prodottoInCarrello)" class="btn btn-primary" name="elimina">elimina</button>
            &nbsp;
            <button (click)="sub(prodottoInCarrello)" class="btn btn-secondary" type="button">-</button>
            {{prodottoInCarrello.qta}}
            <button (click)="add(prodottoInCarrello)" class="btn btn-secondary" type="button">+</button>
          </div>

        </td>

      </tr>
    </table>
  </div>

</div>

