table{
    margin-left: auto;
    margin-right: auto;
}

img{
    width: auto;
    height: 250px;
}

button{
    margin: 3px;
    padding: 5px;
}

.space{
    margin: 2rem;
}

a{
    margin: 3px;
    padding: 5px;
}

.spinner-border{
    margin: auto;
}

.card-title{
    height: 80px;
}